@font-face {
    font-family: special_elite;
    src: url('SpecialElite.ttf');
}

@font-face {
    font-family: armata;
    src: url('Armata-Regular.ttf');
}

.mainbody{  margin-top: 20px; margin-left: auto;margin-right: auto; width:860px}

/* Layout : Index Page */
.LayoutIndex_1{width:100%; background-color:#DFDAC7; float:left; height:400px;}
.LayoutIndex_2{width:100%; background-color:#A37B45; float:left; height:100px;}
.LayoutIndex_header{background-color:#507642; width:100%; height:100px;}

/* Layout : Map Page */
.LayoutMap_1{width:50%; background-color:#DFDAC7; float:left; height:800px;}
.LayoutMap_2{width:50%; background-color:#CCCFBC; float:left; height:400px;}
.LayoutMap_3{width:50%; background-color:#CCCFBC; float:left; height:400px;}
.LayoutMap_4{width:100%; background-color:#A37B45; float:left; height:100px;}
.LayoutMap_header{background-color:#507642; width:100%; height:100px;}

h2{
    font-family: armata;
    color:#DFDAC7;
    text-align:center;
}

h5{
    font-family: armata;
    color:#DFDAC7;
    text-align:center;
}

p{
    font-family: special_elite;
}
