@font-face {
    font-family: special_elite;
    src: url('SpecialElite.ttf');
}

@font-face {
    font-family: armata;
    src: url('Armata-Regular.ttf');
}

.mainbody{  margin-top: 20px; margin-left: auto;margin-right: auto; width:980px}

/* Layout : Index Page */
.LayoutIndex_main{width:100%; background-color:#DFDAC7; float:left;}
.LayoutIndex_footer{width:100%; background-color:#A37B45; float:left; height:100px;}
.LayoutIndex_header{background-color:#507642; width:100%; height:100px;}

/* Layout : Map Page */
.LayoutMap_briefing{width:50%; background-color:#DFDAC7; float:left; height:800px;}
.LayoutMap_ccimg{width:50%; background-color:#CCCFBC; float:left; height:400px;}
.LayoutMap_img{width:50%; background-color:#CCCFBC; float:left; height:400px;}
.LayoutMap_footer{width:100%; background-color:#A37B45; float:left; height:100px;}
.LayoutMap_header{background-color:#507642; width:100%; height:100px;}

a:link    {text-decoration:none; color:#003300;}
a:visited {text-decoration:none; color:#003300;}
a:hover   {text-decoration:none; color:#86942A;}
a:active  {text-decoration:none; color:#86942A;} 

h2{
    font-family: armata;
    color:#DFDAC7;
    text-align:center;
}

h4{
    font-family: armata;
    color:#003300;
    text-align:left;
    margin-left: 6px;
}

h5{
    font-family: armata;
    color:#DFDAC7;
    text-align:center;
}

th{
    font-weight: bold;
}

p.typewriter{
    font-family: special_elite;
    margin-left: 8px;
}

p.typewriter-bold{
    font-family: special_elite;
    font-weight: bold;
    margin-left: 8px;
}

table.center {
    width:96%; 
    margin-left:2%; 
    margin-right:2%;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

