html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section { display: block }
blockquote,
q { quotes: none }
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del { text-decoration: line-through }
abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
input,
select { vertical-align: middle }
body {
    font: 13px/1.231 sans-serif;
    *font-size: small;
}
select,
input,
textarea,
button { font: 99% sans-serif }
pre,
code,
kbd,
samp { font-family: monospace, sans-serif }
html { overflow-y: scroll }
a:hover,
a:active {
    outline: none;
    cursor: pointer;
}
ul,
ol { margin-left: 2em }
ol { list-style-type: decimal }
nav ul,
nav li {
    margin: 0;
    list-style: none;
    list-style-image: none;
}
small { font-size: 85% }
strong,
th { font-weight: bold }
td { vertical-align: top }
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}
sup { top: -0.5em }
sub { bottom: -0.25em }
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 15px;
}
textarea { overflow: auto }
.ie6 legend,
.ie7 legend { margin-left: -7px }
input[type="radio"] { vertical-align: text-bottom }
input[type="checkbox"] { vertical-align: bottom }
.ie7 input[type="checkbox"] { vertical-align: baseline }
.ie6 input { vertical-align: text-bottom }
label,
input[type="button"],
input[type="submit"],
input[type="image"],
button { cursor: pointer;}
button,
input,
select,
textarea { margin: 0 }
input:valid,
textarea:valid { }
input:invalid,
textarea:invalid {
    border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red;
    -webkit-box-shadow: 0px 0px 5px red;
    box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd }
::-moz-selection {
    background: #0092CB;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #0092CB;
    color: #fff;
    text-shadow: none;
}
a:link { -webkit-tap-highlight-color: #FF5E99 }
button {
    width: auto;
    overflow: visible;
}
.button:hover { cursor: pointer }
.ie7 img { -ms-interpolation-mode: bicubic }
body,
select,
input,
textarea { color: #444 }
h1,
h2,
h3,
h4,
h5,
h6 { font-weight: bold }
a,
a:active,
a:visited { color: #607890 }
a:hover { color: #036 }
/*   // ========================================== \\   */
@font-face {
    font-family: Museo Slab;
    src: url('Museo_Slab_500.otf');
}
@font-face {
    font-family: Pacifico;
    src: url('Pacifico.ttf');
}
body {
    background: transparent url(/images/template2/noise_pattern.png) repeat 0 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #515151;
}
h1 {
    font-family: "Museo Slab", serif;
    color: #003366;
    font-size: 22px;
    font-weight: 200;
    margin-bottom: 22px;
}
h2 {
    font-family: "Museo Slab", serif;
    color: #fff;
    font-size: 20px;
    line-height: 38px;
    margin-left: 16px;
}
h3 {
    font-family: "Museo Slab", serif;
    color: #1e3450;
    font-size: 16px;
    margin: 12px 0px;
}
.container-960 {
    width: 960px;
    margin: 0px auto;
}
#container-repeat-header { background: url("/images/template2/header.png") repeat-x scroll 0 0 transparent }
.container-repeat-footer { background: url("/images/template2/footer.png") repeat-x scroll 0 -20px transparent }
.left { float: left }
.right { float: right }
.clear { clear: both }
#logo {
    background: transparent url(/images/template2/logo.png) no-repeat 0 0;
    width: 143px;
    height: 41px;
    margin-top: 8px;
    margin-left: 2px;
}
#logo:hover {
    opacity: .75;
    filter: alpha(opacity=75);
    -ms-filter: "alpha(opacity=75)";
    -khtml-opacity: .75;
    -moz-opacity: .75;
}
.header {
    background: transparent url('/images/template2/header.png') repeat-x 0px 0px;
    background-repeat: repeat-x;
    display: block;
}
.header-inner { height: 53px }
.content {
    background-color: #fff;
    padding: 22px 10px;
    margin-top: 22px;
    -moz-box-shadow: 0px 2px 2px #bbb;
    -webkit-box-shadow: 0px 2px 2px #bbb;
    box-shadow: 0px 2px 2px #bbb;
}
.content-container { width: 594px }
.content-full-container { width: 100% }
.nav-list li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 6px 10px;
}
.nav-list {
    list-style: none;
    font-family: "Museo Slab", serif;
    font-size: 12px;
    color: #fff;
    padding-top: 16px;
    margin-left: 6px;
    text-shadow: 0 1px 0 #04070b;
    z-index: 5;
}
.nav-list li {
	float: left;
	border: 1px solid transparent;
	text-align: left;
	margin-right: 2px;
}
.nav-list li:hover {
    float: left;
    background-color: #162335;
    border: 1px solid #000000;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    -moz-box-shadow: 0 1px 6px #516b88;
    -webkit-box-shadow: 0 1px 6px #516b88;
    box-shadow: 0 1px 6px #516b88;
}
.nav-list li:hover ul { display: block }
.nav-list li.active {
    float: left;
    background-color: #162335;
    border: 1px solid #000000;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    -moz-box-shadow: 0 1px 6px #516b88;
    -webkit-box-shadow: 0 1px 6px #516b88;
    box-shadow: 0 1px 6px #516b88;
}
.nav-list li.home {
    background: transparent url('/images/template2/home.png') no-repeat center center;
    width: 18px;
    height: 16px;
	padding: 6px 10px;
}
.nav-list li:hover.home { background: #162335 url('/images/template2/home.png') no-repeat center center }
.nav-list li.nav-list-action {
    background: #06446d url('/images/template2/nav-action.png') repeat-x top left;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #17263a;
    margin: 2px 0px 0px 6px;
    font-size: 11px;
}
.nav-list li.nav-list-action:hover { background: #06446d;}
.sidebar { width: 300px }
.ribbon {
    background: transparent url('/images/template2/ribbon.png') no-repeat left top;
    width: 632px;
    height: 42px;
    margin: 22px 0px 22px -16px;
}
.big-ribbon {
    background: transparent url('/images/template2/big-ribbon.png') no-repeat left top;
    width: 935px;
    height: 42px;
    margin: 22px 0px 22px -16px;
}
.ribbon-sidebar {
    background: transparent url('/images/template2/ribbon-sidebar.png') no-repeat left top;
    width: 300px;
    height: 36px;
	margin-top: 10px;
	margin-bottom: 10px;
    color: #0055a7;
    line-height: 36px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    font-size: 20px;
    font-family: "Museo Slab", serif;
}
.read-more-button {
    background: transparent url('/images/template2/read_more_button.png') no-repeat left top;
    width: 108px;
    height: 32px;
}
.read-more-button:hover { background: transparent url('/images/template2/read_more_button.png') no-repeat left -32px }
.read-more-button:active { background: transparent url('/images/template2/read_more_button.png') no-repeat left 0px }
.join-button {
    background: transparent url('/images/template2/join-button.png') no-repeat left top;
    width: 298px;
    height: 34px;
    margin-bottom: 14px;
}
.join-button:hover { background: transparent url('/images/template2/join-button.png') no-repeat left -34px }
.join-button:active { background: transparent url('/images/template2/join-button.png') no-repeat left 0px }
.get-button {
    background: transparent url('/images/template2/get-button.png') no-repeat left top;
	color: transparent;
	font-size: 0;
	line-height: 0;
	text-indent: -999em;
    width: 63px;
    height: 35px;
    margin-top: 6px;
	border: 0px;
}
.get-button:hover { background: transparent url('/images/template2/get-button.png') no-repeat left -35px }
.get-button:active { background: transparent url('/images/template2/get-button.png') no-repeat left 0px }
.search-button {
    background: transparent url('/images/template2/search-button.png') no-repeat left top;
	color: transparent;
	font-size: 0;
	line-height: 0;
	text-indent: -999em;
    width: 56px;
    height: 28px;
    margin-top: 6px;
    margin-left: -3px;
	border: 0px;
}
.search-button:hover { background: transparent url('/images/template2/search-button.png') no-repeat left -28px }
.search-button:active { background: transparent url('/images/template2/search-button.png') no-repeat left 0px }
#ad-730 {
    margin: 0 auto;
    width: 730px;
    margin: 34px auto;
}
.sidebar-sponsors {
    color: #686868;
    font-size: 12px;
    text-align: center;
}
.ads-list {
    list-style: none;
    margin: 0px 13px;
    padding: 0px;
}
.ads-list li a {
    float: left;
    width: 125px;
    height: 125px;
    margin: 12px 6px 0px 6px;
}
.random-combos-list {
    list-style: none;
    margin: 16px;
    padding: 0px;
    width: 600px;
}
.random-combos-list li {
    float: left;
    padding: 6px;
    border-right: 1px dotted #CFCFCF;
    border-bottom: 1px dotted #CFCFCF;
	width: 180px;
}
.random-combos-list li a {
	text-decoration: none;
}
.random-combos-list li p {
    font-size: 16px;
    color: #275b6e;
    margin-bottom: 4px;
}
.input-grab-colors {
    background: transparent url('/images/template2/input.png') repeat-x left top;
    height: 25px;
    border: 1px solid #949494;
    padding: 4px 6px;
    color: #ccc;
    margin: 6px 0px;
    width: 223px;
}
.input-grab-colors:focus {
    background: #fff;
    color: #444;
}
.input-header-container {
    margin-top: 10px;
    margin-right: 2px;
}
.input-header {
    background: transparent url('/images/template2/input.png') repeat-x left top;
    height: 18px;
    border: 1px solid #0a0a0a;
    padding: 4px 6px;
    color: #ccc;
    margin: 6px 0px;
    font-size: 11px;
    width: 100px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.input-header:focus {
    background: #fff;
    color: #444;
    outline: none;
}
.footer {
    background: #1a2c45 url('/images/template2/footer.png') repeat-x left top;
    min-width: 960px;
    padding-top: 22px;
    padding-bottom: 22px;
}
.footer-divider {
    background: transparent url('/images/template2/footer-divider.png') no-repeat left top;
    width: 960px;
    height: 6px;
    margin: 12px 0px;
}
.copyright {
    color: #8B95A0;
    padding: 0px 4px;
}

.copyright a:hover {
    color: #fff;
    text-decoration: underline;
}
.popular-colors {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 92px;
    padding: 0px 3px;
    margin-bottom: 22px;
    font-size: 12px;
}
.popular-colors li {
    float: left;
    width: 92px;
}
.popular-colors-square {
    width: 12px;
    height: 12px;
    background-color: #fff;
    display: inline-block;
    margin-right: 2px;
}
.rss {
    background: transparent url('/images/template2/rss.png') no-repeat top left;
    float: right;
    width: 22px;
    height: 20px;
    margin: 8px 12px;
}
.rss:hover {
    opacity: .75;
    filter: alpha(opacity=75);
    -ms-filter: "alpha(opacity=75)";
    -khtml-opacity: .75;
    -moz-opacity: .75;
}
.aqua { background-color: #0b57a4 }
.baby_blue { background-color: #b8d0e8 }
.black { background-color: #000000 }
.blue { background-color: #2a82d7 }
.blue_green { background-color: #148aa5 }
.blue_violet { background-color: #3714a4 }
.brown { background-color: #964B00 }
.crimson { background-color: #a50516 }
.deep_pink { background-color: #fb3c8f }
.forest_green { background-color: #1b4f15 }
.fuchsia { background-color: #a51497 }
.gray { background-color: #686868 }
.green { background-color: #3aa03a }
.hotpink { background-color: #ff0080 }
.lemon { background-color: #fee233 }
.ligh_blue { background-color: #8bbdeb }
.light_red { background-color: #fc6a6c }
.lime { background-color: #c1fd33 }
.lime_green { background-color: #2bfd2f }
.magenta { background-color: #fc1cad }
.maroon { background-color: #7f2b14 }
.midnight { background-color: #000066 }
.olive { background-color: #2b4726 }
.orange { background-color: #fd7222 }
.orange_red { background-color: #fc331c }
.orange_yellow { background-color: #ffcc00 }
.peach { background-color: #FFE5B4 }
.pink { background-color: #fc5ab8 }
.purple { background-color: #af31f2 }
.red { background-color: #fc0d1b }
.red_orange { background-color: #d7462c }
.salmon { background-color: #f69e94 }
.tan { background-color: #f2ddbf }
.teal { background-color: #2b8a6d }
.violet { background-color: #6b28ce }
.violet_blue { background-color: #6041fa }
.white { background-color: #ffffff }
.yellow { background-color: #feee35 }
.yellow_green { background-color: #defd35 }
.yellow_orange { background-color: #fec42e }
.latest-combos-list li a.latest-combos-title { line-height: 30px; font-size: 16px; }
.latest-combos-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 620px;
}
.latest-combos-list li {
    float: left;
    padding: 2px;
    width: 300px;
    border: 1px solid #ddd;
	margin-right: 2px;
	margin-bottom: 3px;
}
.latest-combos-list li a {
    color: #275b6e;
    text-decoration: none;
    line-height: 14px;
}
.latest-combos-list li {
    width: 300px;
}
.latest-combos-list li a:hover { color: #1a2d45 }
.latest-combos-list-details {
    height: 18px;
    width: 100%;
	margin-left: 35px;
    margin-top: 7px;
}
.latest-combos-list li div.latest-combos-userbox {
    background: #fafafa;
    padding: 6px;
    margin-top: 4px;
}
.latest-combos-list li div.latest-combos-userbox a {
    font-size: 13px;
    line-height: 18px;
    margin-left: 8px;
    overflow: hidden;
    white-space: nowrap;
}
.combo-views {
    background: transparent url('/images/template2/combo-views.png') no-repeat left top;
    height: 14px;
    padding-left: 28px;
    margin-right: 6px;
    font-size: 12px;
}
.combo-views:hover {  
background: transparent url('/images/template2/combo-views.png') no-repeat left -14px;
}
.latest-combos-list li div.latest-combos-list-details a.combo-comments { font-size: 12px }
.latest-combos-list li div.latest-combos-list-details a.combo-likes { font-size: 12px }
.combo-likes {
    background: transparent url('/images/template2/combo-likes.png') no-repeat left top;
    height: 13px;
    padding-left: 21px;
    margin-right: 6px;
    font-size: 12px;
}
.combo-likes:hover { background: transparent url('/images/template2/combo-likes.png') no-repeat left -13px }
.combo-comments {
    background: transparent url('/images/template2/combo-comments.png') no-repeat left top;
    height: 13px;
    padding-left: 21px;
    margin-right: 6px;
    font-size: 12px;
}
.combo-comments:hover { background: transparent url('/images/template2/combo-comments.png') no-repeat left -13px }
.footer-column {
    width: 454px;
    color: #fff;
    padding: 0px 4px;
}
.footer-column p.footer-column-header {
    font-family: "Museo Slab", serif;
    font-size: 24px;
    margin: 24px 0px;
    text-shadow: 0 2px 0 #132032;
}
.search-library {
    background: transparent url('/images/template2/search-library.png') no-repeat left top;
    width: 624px;
    height: 62px;
    margin: 18px 0px 0px -10px;
}
.search-library-input {
    background: #fff;
    width: 260px;
    border: 1px solid search-library-input;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 6px 6px;
    margin: 15px 0px 0px 240px;
}
.search-library-button {
    background: transparent url('/images/template2/search-library-button.png') no-repeat left top;
	color: transparent;
	font-size: 0;
	line-height: 0;
	text-indent: -999em;
    width: 88px;
    height: 33px;
    margin: 15px 0px 0px -2px;
	border: 0px;
}
.search-library-button:hover { background: transparent url('/images/template2/search-library-button.png') no-repeat left -33px }
.search-library-button:active { background: transparent url('/images/template2/search-library-button.png') no-repeat left -0px }
.big-read-more-button {
    background: transparent url('/images/template2/button-read-more.png') no-repeat left top;
    width: 144px;
    height: 33px;
    margin-bottom: 22px;
}
.big-read-more-button:hover { background: transparent url('/images/template2/button-read-more.png') no-repeat 0px -33px }
.footer-half-divider {
    background: transparent url('/images/template2/footer-half-divider.png') no-repeat left top;
    width: 470px;
    height: 6px;
    margin-bottom: 16px;
}
.footer-link-list {
    list-style: none;
    padding: 0px;
    margin: 0px 0px 16px 0px;
}
.footer-link-list li {
    border-bottom: 1px solid #0e1927;
    border-top: 1px solid #355887;
    width: 470px;
    padding: 6px 0px;
}
.footer-link-list li a {
    color: #fafafa;
    text-decoration: none;
    font-size: 13px;
}
.footer-link-list li:first-child { border-top: none }
.footer-link-list li:last-child { border-bottom: none }
.footer-link-list li a:hover {
    color: #fff;
    text-decoration: underline;
}
.footer-site-links {
    list-style: none;
    margin: 6px 0px;
    padding: 0px 4px;
    float: left;
}
.footer-site-links li {
    float: left;
    margin-right: 6px;
}
.footer-site-links li a:hover {
    color: #fff;
    text-decoration: underline;
}
.footer-rss {
    background: transparent url('/images/template2/footer-rss.png') no-repeat left top;
    width: 40px;
    height: 40px;
    padding: 0px 4px 0px 0px;
}
.footer-rss:hover {
    background: transparent url('/images/template2/footer-rss.png') no-repeat left -40px;
    cursor: pointer;
}
.footer-twitter {
    background: transparent url('/images/template2/footer-twitter.png') no-repeat left top;
    width: 142px;
    height: 42px;
    margin-right: 16px;
}
.footer-twitter:hover {
    background: transparent url('/images/template2/footer-twitter.png') no-repeat left -42px;
    cursor: pointer;
}
.nav-dropdown {
    padding: 0;
    margin: 0;
    list-style: none;
    background: none repeat scroll 0 0 #162335;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    float: left;
    padding: 5px 0;
    top: 45px;
    position: absolute;
    display: none;
}
.nav-dropdown li {
    border-top: 1px solid #30465e;
    border-bottom: 1px solid #0a121d;
	text-align: left;
}
.nav-dropdown li:first-child {
    border-top: none;
    border-bottom: 1px solid #0a121d;
}
.nav-dropdown li { width: 148px }
.nav-dropdown li a {
    text-decoration: none;
    color: #fff;
    float: left;
    display: inline-block;
	width: 100%;
}
.nav-dropdown li:hover {
    background: #004e8d;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.welcome-arrow {
    background: transparent url('/images/template2/welcome-arrow.png') no-repeat top left;
    width: 5px;
    height: 6px;
    margin-left: 6px;
    margin-top: 4px;
}
.welcome-user-icon {
    background: transparent url('/images/template2/welcome-user-icon.png') no-repeat top left;
    width: 12px;
    height: 13px;
    margin-right: 6px;
}
.nav-dropdown-alt {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #06446d url('/images/template2/nav-action.png') repeat-x top left;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #17263a;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    float: left;
    top: 40px;
    position: absolute;
    display: none;
    font-size: 11px;
    padding: 4px 0px;
}
.nav-dropdown-alt li a {
    color: #fff;
    text-decoration: none;
}
.nav-dropdown-alt li { width: 99%; }
.nav-dropdown-alt li:hover {
    background: #17263a;
    width: 99%;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
.latestcombo_username {
    min-width: 240px;
    max-width: 240px;
}
/*   // ========================================== \\   */
.ir {
    display: block;
    text-indent: -999em;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}
.hidden {
    display: none;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible { visibility: hidden }
.clearfix:before,
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
.clearfix:after { clear: both }
.clearfix { zoom: 1 }
@media print { 
	* {
	    background: transparent !important;
	    color: black !important;
	    text-shadow: none !important;
	    filter: none !important;
	    -ms-filter: none !important;
	}
	a,
	a:visited {
	    color: #444 !important;
	    text-decoration: underline;
	}
	a[href]:after { content: " (" attr(href) ")" }
	abbr[title]:after { content: " (" attr(title) ")" }
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after { content: "" }
	pre,
	blockquote {
	    border: 1px solid #999;
	    page-break-inside: avoid;
	}
	thead { display: table-header-group }
	tr,
	img { page-break-inside: avoid }
}
/*****************************/
/********* New Stuff *********/
/*****************************/
#google_ads{
	float: left;
	font-size: 11px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding-right: 20px;}
p {
	margin-bottom:15px;
}

.pagelinks{	width: 600px; margin-top: 25px; margin-bottom: 25px;}
	
.pageno{
	font-weight: bold;
	float: left;
	margin-right: 15px;
}

.pages{
	margin: 0px;
	width: 400px;
	padding: 0px;
	float: right;
	text-align: left;}
	
ul#navpages {
	width: 400px;
	margin-left: 15px;
	padding: 0px;
	float: left;
	}
	
.navpages li{
	display: inline;
	list-style-type: none;
	font-weight: bold;
	float: left;}
	
.navpages a{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-image: url(/images/template2/bg_pagenr.gif);
	background-repeat: no-repeat;
	display: inline;
	float: left;
	width: 23px;
	height: 18px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	text-align: center;}

.navpages a:hover{
	text-decoration: underline;
	color: #fff;
	width: 23px;
	height: 18px;
	border: 0px;}
	
.combonr{float: left;}
.rating{	float: left;padding-left: 10px;}
.magnifying{float: right;}

.navpages a:active{
	font-weight: bold;
	color: #000;
	background: none;}

.shutterstock-div {
	width: 100%;}
.shutterstock-div ul {
		list-style-type: none;
		margin: 0px;}
.shutterstock-list li { display: inline; float: left; width: 118px; height: 118px;}

.article-nav {
	list-style: none;
	font-size: 14px;
}
.article-nav li {
	float: left;
	border: 1px solid transparent;
	text-align: center;
	margin-right: 2px;
	width: 270px;
}

#sitemap-tags-list {
	margin-left: 0px;
	width: 600px;
	list-style-type: none;
}

#sitemap-tags-list li {
	width: 190px;
	float: left;
	display: inline;
}

#sitemap-colors-list {
	margin-left: 0px;
	width: 600px;
	list-style-type: none;
}

#sitemap-colors-list li {
	width: 120px;
	float: left;
	display: inline;
}


#sitemap-hex-test-list {
	margin-left: 0px;
	width: 600px;
	list-style-type: none;
}

#sitemap-hex-test-list li {
	width: 150px;
	float: left;
	display: inline;
}





#stock-images-list {
	margin-left: 0px;
	width: 600px;
	list-style-type: none;
}

#stock-images-list li {
	width: 195px;
	float: left;
	display: inline;
}


#sitemap-color-schemes-list {
	margin-left: 0px;
	width: 600px;
	list-style-type: none;
}

#sitemap-color-schemes-list li {
	width: 195px;
	float: left;
	display: inline;
}






#keyword-combos-list {
	margin-left: 0px;
	width: 600px;
	list-style-type: none;
}

#keyword-combos-list li {
	width: 295px;
	float: left;
	display: inline;
}

.color-breakdown-table {
	border: 3px solid #CCCCCC;
	width: 100%;
}
.color-breakdown-table th {
	background-color: #EEEEEE;
	border-bottom: 1px solid #CCCCCC;
	padding: 5px;
	text-align: center;
}
.color-breakdown-table td {
	padding: 5px;
	text-align:left;
}



.mycolorcombos-table {
	width: 100%;
	border-collapse: collapse; 
}
.mycolorcombos-table td {
	padding: 2px;
	text-align:left;
	border: 1px solid #CCCCCC;
}



.buttoncontainer
{
padding-top:10px;
width:299px;
height:25px;
background-image:url('/images/template2/buttongreen.jpg');
text-align:center;
}
	
.buttoncontainer p
{
text-align:center;
font-size:13px;
margin:0px;
padding:0px;
font-family:sans-serif;
letter-spacing:1px;
font-weight:bold;
text-shadow: -0px -1px 1px #333;
 opacity:1;

}
	
.buttoncontainer p:hover { opacity:0.8; } 
.buttoncontainer A:link {color: #FFFFFF; text-decoration: none} 
.buttoncontainer A:visited {color: #FFFFFF; text-decoration: none} 
.buttoncontainer A:active {color: #FFFFFF; text-decoration: none}

#cc-header {
	float: left; 
	border: 0px solid #000; 
	clear: both; width: 100%;
	margin-bottom: 15px;
}
#cc-header-avatar {
	float: left;
	width: 50px;
	height: 50px;
	background-size:50px 50px;
	border: 2px solid #999;
	margin: 5px;
	padding: 0px;
}
#cc-title-div {
	float: left;
	border: 0px solid #000;
	margin-left: 5px;
	margin-top: 5px;
}
#cc-title-div h1 {
	border: 0px solid #f00;
	margin: 0px;
	text-decoration: none;
}
#cc-by-line {
	margin-top: 2px;
}
#cc-main-div {
	float: left; 
	width: 100%; 
	margin-bottom: 20px; 
	clear: both;
}
#cc-image-div {
	width: 400px; 
	float: left; 
	border: 0px solid #000;
}



.thebuttons
{
margin-top:15px;
margin-bottom:30px;
float:left;
width: 100%;
height:auto;
clear: both;
}

.onebutton
{
margin-left:150px;
float:left;
width:120px;
height:28px;
margin-top:9px;
font-family:futura-pt,sans-serif;
letter-spacing:1px;
font-size:12px;
font-weight:500;
color:#FFFFFF;
text-transform:uppercase;
text-align:center;
background-image:url('/images/template2/buttonoff.png');
}
.onebutton p
{
padding-top:9px;
margin:0px;
width:120px;
height:28px;
background-image:url('/images/template2/buttonoff.png');
}
.onebutton p:hover
{
margin:0px;
width:120px;
height:28px;
background-image:url('/images/template2/buttonon.png');
}
.onebutton A:link {color: #FFFFFF; text-decoration: none} 
.onebutton A:visited {color: #FFFFFF; text-decoration: none} 
.onebutton A:active {color: #FFFFFF; text-decoration: none} 
.onebutton A:hover { color: #FFFFFF; text-decoration: none }


.popular-colors-list {
    list-style: none;
    margin: 0px 5px;
    padding: 0px;
}
.popular-colors-list li a {
    float: left;
    width: 95px;
    height: 85px;
	margin-right: 0px;
	border: 0px solid #000;
}



#wrapper{
padding: 10px;
text-align: center;
border-bottom: 1px solid #fff;
font: bold 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
text-shadow: 0 1px 1px #ffffff;
background-color: #efebb1;
color: #0d83d0;
display: none;
}



/*-------------------------------------------------------------------*/
/*	1. New Buttons Classes
/*-------------------------------------------------------------------*/

.newbuttons {
	float: left;
	margin-top: 10px;
	margin-left: 0px;
	margin-bottom: 10px;
	list-style: none;
}

.newbuttons li {
	float: left;
	margin-top: 6px;
}
.newbuttons li a.newbuttons {
	background-image: url(/images/template2/btn_sprite.png);
	background-repeat: no-repeat;
	float: left;
	width: 165px;
	height: 36px;

}

/*-------------------------------------------------------------------*/
/*	2. Buttons General
/*-------------------------------------------------------------------*/


#buttons {
	float: left;
	margin-top: 10px;
	margin-left: 0px;
	margin-bottom: 10px;
	list-style: none;
}

#buttons li {
	float: left;
	margin-top: 6px;
}
#buttons li a.buttons {
	background-image: url(/images/template2/btn_sprite.png);
	background-repeat: no-repeat;
	float: left;
	width: 165px;
	height: 36px;

}


/*-------------------------------------------------------------------*/
/*	3. Buttons -- Add Color
/*-------------------------------------------------------------------*/


.addcolorbtn {
	background-position: 0 0;
	width: 135px;
	
}

.addcolorbtn:hover {
	background-position: 0 -37px;
}

.addcolorbtn:active {
	margin-top: 1px;
}



/*-------------------------------------------------------------------*/
/*	4. Buttons -- Download
/*-------------------------------------------------------------------*/



.downloadbtn {
	background-position: 0 -74px;
	width: 135px;
}

.downloadbtn:hover {
	background-position: 0 -112px;
}

.downloadbtn:active {
	margin-top: 1px;
	
}



/*-------------------------------------------------------------------*/
/*	5. Buttons -- Save Color
/*-------------------------------------------------------------------*/



.savecolorbtn {
	background-position: 0 -149px;
	width: 135px;
}

.savecolorbtn:hover {
	background-position: 0 -186px;
}

.savecolorbtn:active {
	margin-top: 1px;
}



/*-------------------------------------------------------------------*/
/*	6. Buttons -- Edit Combo
/*-------------------------------------------------------------------*/



.editcombobtn {
	background-position: 0 -526px;
	width: 145px;
}

.editcombobtn:hover {
	background-position: 0 -563px;
}

.editcombobtn:active {
	margin-top: 1px;
}



/*-------------------------------------------------------------------*/
/*  7. Buttons -- Like Combo
/*-------------------------------------------------------------------*/



.likecombobtn {
	background-position: 0 -222px;
	width: 145px;
}

.likecombobtn:hover {
	background-position: 0 -260px;
}

.likecombobtn:active {
	margin-top: 1px;
}



/*-------------------------------------------------------------------*/
/*	8. Buttons -- UnLike Combo
/*-------------------------------------------------------------------*/



.unlikecombobtn {
	background-position: 0 -298px;
	width: 145px;
}

.unlikecombobtn:hover {
	background-position: 0 -336px;
}

.unlikecombobtn:active {
	margin-top: 1px;
}



/*-------------------------------------------------------------------*/
/*	9. Buttons -- Like Color V1
/*-------------------------------------------------------------------*/



.likecolorbtn {
	background-position: 0 -374px;
	width: 145px;
}

.likecolorbtn:hover {
	background-position: 0 -412px;
}

.likecolorbtn:active {
	margin-top: 1px;
}



/*-------------------------------------------------------------------*/
/*	10. Buttons -- Unlike Color
/*-------------------------------------------------------------------*/



.unlikecolorbtn {
	background-position: 0 -450px;
	width: 145px;
}

.unlikecolorbtn:hover {
	background-position: 0 -488px;
}

.unlikecolorbtn:active {
	margin-top: 1px;
}



/*-------------------------------------------------------------------*/
/*	11. Buttons -- Delete Combo
/*-------------------------------------------------------------------*/



.deletecombobtn {
	background-position: 0 -601px;
	width: 145px;
}

.deletecombobtn:hover {
	background-position: 0 -638px;
}

.deletecombobtn:active {
	margin-top: 1px;
}



/*-------------------------------------------------------------------*/
/*	12. Buttons -- Test Combo
/*-------------------------------------------------------------------*/



.testcombobtn {
	background-position: 0 -675px;
	width: 145px;
}

.testcombobtn:hover {
	background-position: 0 -712px;
}

.testcombobtn:active {
	margin-top: 1px;
}


/*-------------------------------------------------------------------*/
/*	13. Buttons -- Read More
/*-------------------------------------------------------------------*/



.readmorebtn {
	background-position: 0 -750px;
	width: 130px;
}

.readmorebtn:hover {
	background-position: 0 -787px;
}

.readmorebtn:active {
	margin-top: 1px;
}




/*-------------------------------------------------------------------*/
/*	14. Buttons -- Next Combo
/*-------------------------------------------------------------------*/



.nextcombobtn {
	background-position: 0 -824px;
	width: 109px;
}

.nextcombobtn:hover {
	background-position: 0 -861px;
}

.nextcombobtn:active {
	margin-top: 1px;
}



/*-------------------------------------------------------------------*/
/*	15. Buttons -- Previous Combo
/*-------------------------------------------------------------------*/



.prevcombobtn {
	background-position: 0 -898px;
	width: 145px;
}

.prevcombobtn:hover {
	background-position: 0 -935px;
}

.prevcombobtn:active {
	margin-top: 1px;
}



/*-------------------------------------------------------------------*/
/*	16. Buttons -- More Combos
/*-------------------------------------------------------------------*/



.morecombosbtn {
	background-position: 0 -972px;
	width: 145px;
}

.morecombosbtn:hover {
	background-position: 0 -1009px;
}

.morecombosbtn:active {
	margin-top: 1px;
}


/*-------------------------------------------------------------------*/
/*	17. Buttons -- More Combos V2
/*-------------------------------------------------------------------*/



.morecombosv2btn {
	background-position: 0 -1046px;
	width: 145px;
}

.morecombosv2btn:hover {
	background-position: 0 -1083px;
}

.morecombosv2btn:active {
	margin-top: 1px;
}


/*-------------------------------------------------------------------*/
/*	18. Buttons -- Create New Combo
/*-------------------------------------------------------------------*/



.createnewcombobtn {
	background-position: 0 -1119px;
	width: 186px;
}

.createnewcombobtn:hover {
	background-position: 0 -1155px;
}

.createnewcombobtn:active {
	margin-top: 1px;
}



/*-------------------------------------------------------------------*/
/*	19. Like Bar General
/*-------------------------------------------------------------------*/


#favbar {
	float: left;
	width: 500px;
}

#favbar li {
	float: left;
	
}
#favbar li a.favbar {
	background-image: url(../images/template2/lrgbtn_sprite.png);
	background-repeat: no-repeat;
	float: left;
	height: 37px;
}



/*-------------------------------------------------------------------*/
/*	19. Like Bar (Favorite ColorCombos Default)
/*-------------------------------------------------------------------*/


.favcombobarbtn {
	background-position: 0 2px;
	width: 200px;
		
}

.favcombobarbtn:hover {
	background-position: 0 -35px;
		
}
.favcombobarbtn:active {

}



/*-------------------------------------------------------------------*/
/*	19. Like Bar (Favorite ColorCombos Active)
/*-------------------------------------------------------------------*/


.favcombobarbtnactive {
	background-position: 0 -35px;
	width: 200px;
		
}

.favcombobarbtnactive:hover {
	background-position: 0 2px;
		
}
.favcombobarbtnactive:active {

}



/*-------------------------------------------------------------------*/
/*	19. Like Bar (Favorite Colors Default)
/*-------------------------------------------------------------------*/

.favcolorbarbtn {
	background-position: -202px 2px;
	width: 154px;
		
}

.favcolorbarbtn:hover {
	background-position: -202px -35px;
	width: 151px;
		
}
.favcolorbarbtn:active {
}



/*-------------------------------------------------------------------*/
/*	19. Like Bar (Favorite Colors Active)
/*-------------------------------------------------------------------*/


.favcolorbarbtnactive {
	background-position: -202px -35px;
	width: 154px;
		
}

.favcolorbarbtnactive:hover {
	background-position: -202px 2px;
	width: 151px;
		
}
.favcolorbarbtnactive:active {
}




/*-------------------------------------------------------------------*/
/*	20. Sign Up Buttons General
/*-------------------------------------------------------------------*/


#signup {
	float: left;
	   width: 309px;
	   list-style: none;
	   margin-left: 0px;
	   
}

#signup li {
	float: left;
	
}
#signup li a.signup {
	background-image: url(../images/template2/lrgbtn_sprite.png);
	background-repeat: no-repeat;
	float: left;
	height: 40px;
}





/*-------------------------------------------------------------------*/
/*	21. Sign Up V1 (Yellow)
/*-------------------------------------------------------------------*/


.signupbtn {
	background-position: 0 -74px;
	width: 308px;
		
}

.signupbtn:hover {
	background-position: 0 -114px;
		
}
.signupbtn:active {

}


/*-------------------------------------------------------------------*/
/*	22. Sign Up V2 (Green)
/*-------------------------------------------------------------------*/


.signupv2btn {
	background-position: 0 -153px;
	width: 308px;
		
}

.signupv2btn:hover {
	background-position: 0px -193px;
	width: 308px;
		
}
.signupv2btn:active {
}



/*-------------------------------------------------------------------*/
/*	23. Sign Up V3 (Pink)
/*-------------------------------------------------------------------*/


.signupv3btn {
	background-position: 0 -232px;
	width: 308px;
		
}

.signupv3btn:hover {
	background-position: 0px -272px;
	width: 308px;
		
}
.signupv3btn:active {
}






/*-------------------------------------------------------------------*/
/*	24. Menu Add Combo Button General
/*-------------------------------------------------------------------*/


#menu {
	float: left;
	
}

#menu li {
	float: left;
	
}
#menu li a.menu {
	background-image: url(../images/template2/add_combo.png);
	    background-repeat: no-repeat;
	    float: left;
	    height: 30px;
	    margin-top: 14px;
	    margin-left: 10px;

}



/*-------------------------------------------------------------------*/
/*	25. Menu Add Combo Button
/*-------------------------------------------------------------------*/


.addcombomenu {
	background-position: 0 3px;
	width: 120px;
		
}

.addcombomenu:hover {
	background-position: 0 -27px;
		
}
.addcombomenu:active {

}




/*-------------------------------------------------------------------*/
/*	26. Edit/Delete Icons
/*-------------------------------------------------------------------*/


#edit_delete_icons {
float: left;
   width: 300px;
   list-style: none;
   margin-left: 0px;

}

#edit_delete_icons li {
	float: left;
	
}
#edit_delete_icons li a.edit_delete_icons {
	background-image: url(../images/template2/edit_delete_icons.png);
	background-repeat: no-repeat;
	float: left;
	height: 31px;

}



/*-------------------------------------------------------------------*/
/*	27. Edit/Delete Icons
/*-------------------------------------------------------------------*/


.edit {
	background-position: 0 0px;
	width: 31px;
		
}

.edit:hover {
	background-position: 0 -32px;
		
}
.edit:active {

}


.delete {
	background-position: -33px 0px;
	width: 31px;
		
}

.delete:hover {
	background-position: -33px -32px;
		
}
.delete:active {

}




/*-------------------------------------------------------------------*/
/*	28. Copy Combo Button
/*-------------------------------------------------------------------*/


.copycombo {
	background-position: 0 -1192px;
	width: 145px;
		
}

.copycombo:hover {
	background-position: 0 -1229px;
		
}
.copycombo:active {

}




